/* light mode */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  h1 {
    margin: 0;
  }
  
  #todo-section {
    padding: 20px;
  }
  #priority {
    padding: 10px;
  }

  /*#todo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }*/
  
  #contributor-name, #task-content {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 20px;
  }

#deadline {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  height: 20px;
}

#sort-dropdown, #priority {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #858585;
  background-color: white;
  height: 20px;
}


.task:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  
  #tasks-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .task {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task p {
    margin: 0;
  }
  
  .task .contributor {
    font-size: 0.9em;
    color: #777;
  }
  
  .task .actions {
    display: flex;
    gap: 10px;
  }
  
  .complete-btn, .delete-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .complete-btn:hover {
    background-color: #2e7d32;
  }
  
  .delete-btn:hover {
    background-color: #e53935;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
